<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#">one</a></li>
  <li><a href="#">two</a></li>
  <li class="divider"></li>
  <li><a href="#">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">SonoLigo</a>
    <ul class="right hide-on-med-and-down">
      <% if (!user_signed_in?) %>
          <!-- ログインしていない時 -->
            <li><%= link_to "先生になる" ,new_user_registration_path %></li>
            <li><%= link_to "ログイン" ,user_session_path %></li>
          <% else %>
            
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown2"><%= current_user.email %> <span class="caret"></span></a></li>
              <ul id= "dropdown2" class='dropdown-content'>
                <li><%= link_to "プロフィール",user_path(current_user) %></li>
                <li><%= link_to "ログアウト" ,destroy_user_session_path,method: :delete %></li>  
              </ul>
            
            
          <% end %>
    </ul>
  </div>
</nav>

<script>
 $('.dropdown-trigger').dropdown();
</script>

